<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="js/postProject.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Studenti in projekti</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Seznam študentov</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="listProjects.html">Seznam projektov</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="newStudent.html">Ustvari novega študenta</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="#">Ustvari nov projekt</a>
        </li> 
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button  class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
              <ul>
                <li><a class="nav-link" href="index.html">Seznam študentov</a></li>
                <li><a class="nav-link" href="listProjects.html">Seznam projektov</a></li>
                <li><a class="nav-link" href="newStudent.html">Ustvari novega študenta</a></li>
                <li><a class="nav-link" href="#">Ustvari nov projekt</a></li>
            </ul>
            </div>  
            <div class="col-9" id="app">
                
              <h3>Vnesite naslednje podatke</h3>
                <form>
                    <div class="mb-3">
                      <label  class="form-label">Id projekta</label>
                      <input v-model="project.idProject" type="text" class="form-control" id="idProjekta" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Ime projekta</label>
                        <input v-model="project.nameProject" type="text" class="form-control" id="imeProjekta" aria-describedby="emailHelp">
                    
                      </div>
                      <div class="mb-3">
                        <label  class="form-label">Opis projekta</label>
                        <input type="text" v-model="project.descProject"  class="form-control" id="opisProjekta" >
                    
                      </div>
       
                 
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Strinjam se z pogoji uporabe</label>
                    </div>
                    
                  </form>
                  <button @click="postProject" type="submit" class="btn btn-primary">Potvrdi</button>
                  <h3>{{message}}</h3>
                  
            </div>         
        </div>
        
    </div>
    <div class="container">
        <footer style="background-color: #deded5;">
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" >PRA NOO</a>
    </div>
    <!-- Copyright -->
  </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>